<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.wilfredrthibodeau/chapter3CodeExercise"
        versionCode = "10" 
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Chapter 3 Code Exercise</name>

    <description>
        Toolbars, Header Content, Footer Content, Navigation Bar, Persistent Footer, Collapsible Content, Accordion, Columns, Inline Buttons, Custom Icons
    </description>

    <author href="http://www.wilfredrthibodeau.com" email="admin@wilfredrthibodeau.com">
    Will
    </author>

</widget>
